<div class="min-w-[1553px]">
  <nav class="py-5 px-5">
    <ul class="flex items-center justify-between text-2xl text-sky-600">
      <% Category.all.order(name: :asc).each do |category| %>
        <li>
          <%= link_to category.name, category_articles_path(category) %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="rounded-3xl bg-gradient-to-r from-sky-950 to-transparent">
    <div class="flex pb-5 pt-5 justify-center ">
      <h1 class="text-5xl font-bold text-sky-400">
        <%= params[:search] ? "Results for: #{params[:search]}" : @category&.name || "Articles" %>
      </h1>
    </div>
  </div>
  <div class="min-w-96 grid grid-cols-4 gap-4 auto-rows-min auto-cols-min justify-stretch">
    <%= render partial: "article", collection: @articles %>
  </div>
  <%= render partial: "next_page" %>
</div>
