<% if current_admin %>  
    <li><%= link_to "Write Article", new_article_path, class:"dropdown-item" %></li>
    <li><hr class="h-px border-0 dark:bg-sky-900"></li>
    <li><%= button_to "Logout", destroy_admin_session_path, method: :delete, class:"dropdown-item" %></li>
<% else %>
  <li class="nav-item text-2xl text-sky-600">
    <%= link_to "Register", new_admin_registration_path %>
  </li>
  <li><hr class="h-px border-0 dark:bg-sky-900"></li>
  <li class="nav-item text-2xl text-sky-600">
    <%= link_to "Login", new_admin_session_path %>
  </li>
<% end %>
